/* Main Colors */
$active-color: #0146fe;
$main-bg: #fff;
$main-text-color: #333;
$main-text-color-white: #fff;
/* End Main Colors */

/* Paragraph */
$paragraph-text-color: #777;
/* End Paragraph */

/* Intro Section */
$intro-section-bg: #040b2a;
/* End Intro Section */

/* Services section */
$services-section-bg: #f6f4f9;
/* End Services section */