/* Containers */

* {
  box-sizing: border-box;
}

html, body {
  font-family: "TT Commons", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: $main-text-color;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.section-content {
  max-width: 127rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;

  @include mobile900 {
    padding: 0 2rem;
  }
}

.section-content-header {
  text-align: center;
}

/* End Containers */

/* Remove outline */

a {
  text-decoration: none;
  outline: none !important;
}

/* End Remove outline */

/* Headers */

h1 {
  font-size: 6.4rem;
  line-height: 7rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 1.4rem;
  font-size: 4.8rem;
  line-height: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

/* End Headers */

/* Paragraph */

p {
  font-family: "Pragmatica", sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $paragraph-text-color;
}

/* End Paragraph */

/* Buttons */

/* End Buttons */

/* Inputs */

/* End Inputs */